﻿<div  ng-show="product.images.length">
    <div class="img-wrap">
        <img ng-src="{{product.images[gallery.current]}}" />
    </div>
    <ul class="img-thumbnails clearfix">
        <li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
            <img ng-src="{{image}}" />
        </li>
    </ul>
</div> 
